# fastapi stuff
fastapi[standard]
sqlmodel # sql, also installs sqlalchemy and pydantic

# http requests
httpx

# code gen
openapi-python-client

# testing
pytest

# useful stuff
orjson

# formatting stuff
ruff

# general purpose
numpy

# electrometer
pyvisa
pyvisa-py

# serial comm (chopperwheel, stages, the-box?)
pyserial
pytrinamic
pylablib-lightweight
